
<%- include('header') %> 
    <h1 class="box"><%= listTitle %> </h1> 

    <div class="box">
        <% newListItems.forEach((task) =>{ %>
            <div class="item">
                <input type="checkbox">
                <p><%= task %> </p>
            </div>
            <% }) %> 
            
        <form action="<%= route %> " method="post">
            <input type="text" name="newTask" id="" placeholder="Add a task">
            <button type="submit" name="button">+</button>
        </form>
    </div>
<%- include('footer') %> 
 