
<%- include('header') %> 
    <h1 class="box"><%= listTitle %> </h1> 

    <div class="box">
        <% newListItems.forEach((task) =>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <label class="checkbox-item">
                        <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
                        <p><%= task.name %> </p>
                        <input type="hidden" name="listName" value="<%= listTitle %>"> <!-- input to save the list name which will be used to know which list is where the item is sotred to be deleted -->
                    </label>
                </div>
            </form>

            <% }) %> 
            
        <form class="item" action="/" method="post">
            <input type="text" name="newTask" id="" placeholder="Add a task">
            <button type="submit" name="button" value="<%= listTitle %>">+</button>
        </form>
    </div>
<%- include('footer') %> 
 